<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/du-an">Dự án</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Thành viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Công việc</a>
                </li>
            </ul>

        </div>
      </div>
    </nav>
    <main>
        <div class="mt-3">
            <h3>Danh sách dự án</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã dự án</th>
                        <th>Tên</th>
                        <th>Thành viên</th>
                        <th>
                            <a href="" class="btn btn-sm btn-success">Tạo mới</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pr of projects">
                        <td scope="row">{{pr.id}}</td>
                        <td>{{pr.code}}</td>
                        <td>{{pr.name}}</td>
                        <td>{{pr.members}}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-info">Sửa</a>
                            &nbsp;
                            <a href="" class="btn btn-sm btn-danger">Xóa</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </main>
    
  </div>