<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WE16202 - Angular</title>
</head>
<body>
  <!-- <app-welcome></app-welcome>
  <h2 class="title">Homepage </h2>
  <h1 *ngIf="inventors.length == 0">Loading ...</h1>
  <table class="table table-striped" *ngIf="inventors && inventors.length > 0">
    <thead>
      <th>#</th>
      <th>First</th>
      <th>Last</th>
      <th>Year</th>
      <th>Year old</th>
      <th>Passed</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventors">
        <td>{{item.id}}</td>
        <td>{{item.first}}</td>
        <td>{{item.last}}</td>
        <td>{{item.year}}</td>
        <td>{{item.year | age: [item.passed]}}</td>
        <td>{{item.passed}}</td>
      </tr>
    </tbody>
  </table> -->
  <div class="container">
    <h2>WE16202 - Angular layout</h2>
    <router-outlet></router-outlet>
  </div>
  
</body>
</html>